{
    "presets": ["react", "es2015"],
    "env": {
      "development": {
        "presets": ["react-hmre"]
      }
    },
    "plugins": ["transform-async-to-generator", "syntax-dynamic-import", "react-hot-loader/babel"]
  }