.Home-Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Tree-Icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.home-grid {
  width: 100%;
}